@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

/*colors para el modo oscuro*/
$body: #192229;
$contenedor: #212E36;
$border: #2A3B47;
$claro: #A0A7AC;
$contenido: #C8CDD0;
$titulo: #EFF3F5;
$principal: #52A5E0;

/*Variables del tema light*/
$main-color : #1083D6;
$title-color : #2A3B47;
$text-color : #697477;
$light-text-color : #A0A7AC;
$border-color : #EFF3F5;
$container-color : #FFFFFF;
$body-color : #FBFBFE;


// Variables del tema light
:root {
    --main-color: #1083D6;
    --title-color: #2A3B47;
    --text-color: #697477;
    --light-text-color: #A0A7AC;
    --border-color: #EFF3F5;
    --container-color: #FFFFFF;
    --body-color: #FBFBFE;
}

// Variables para el tema dark
body.dark-theme {
    --main-color: #52A5E0;
    --title-color: #EFF3F5;
    --text-color: #C8CDD0;
    --light-text-color: #A0A7AC;
    --border-color: #2A3B47;
    --container-color: #212E36;
    --body-color: #192229;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: $body;


}

a,
h2,
p,
h3,
h4,
h5,
span {
    color: white;
    text-decoration: none;
    list-style: none;
}


.main__container_masterTODO {
    width: 100%;
    display: flex;
    justify-content: center;

    .Container_Cubierta {
        width: 100%;
        max-width: 2000px;
        height: 100vh;
        max-height: 1000px;
        // background-color: rgb(244, 244, 244);

        .container_navbar {
            width: 100%;
            height: 60px;
            background-color: $body;
            position: fixed;
            top: 0;
            z-index: 999;

            .navbar {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                a {
                    margin-left: 5%;
                    h2 {
                        span {
                            color: rgb(0, 225, 255);
                        }
                    }
                }


                .bars {
                    width: 40px;
                    height: 40px;
                    background-color: #28373f;
                    border-radius: 10px;
                    float: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                    display: none;
                    margin-right: 20px;

                    &:hover {
                        background-color: #28373f;
                    }

                    .line {
                        width: 30px;
                        height: 3px;
                        background-color: #52A5E0;
                        border-radius: 10px;
                    }
                }
            }

            .nav-bar {
                width: 100%;
                display: flex;

                .styles_ul {
                    width: 80%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 50px;

                    a {
                        display: block;
                        color: white;
                        font-size: 18px;
                        padding: 10px 25px;
                        border-radius: 15px;
                        transition: 0.2s;
                        margin: 0 5px;

                        &:hover {
                            color: white;
                            background-color: #28373f;
                        }

                        &.active {
                            color: rgb(255, 255, 255);
                            background-color: #28373f;

                        }
                    }
                }
            }
        }

        /*Contendio sobremi portafolio*/
        .sobre_Mi {
            width: 100%;
            height: 100vh;
            max-height: 1000px;
            background-color: $body;
            display: flex;
            justify-content: center;
            align-items: center;

            .div_principal {
                width: 90%;
                height: auto;
                // background-color: rgb(58, 52, 63);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .firt_container {
                    width: 50%;
                    height: auto;
                    // background-color: rgb(121, 65, 65);
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .Margin__p {
                        margin: 0px 20px 20px 0px;
                    }

                    h2 {
                        font-size: 50px;

                        span {
                            color: rgb(0, 225, 255);
                        }
                    }

                    p {
                        font-size: 20px;
                    }
                }

                .second_container {
                    width: 50%;
                    height: 400px;
                    // background-color: rgb(121, 65, 65);
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 2%;
                    align-items: center;

                    h3 {
                        font-weight: 100;

                        span {
                            color: rgb(0, 225, 255);
                        }
                    }

                    .container_wallpaper {
                        width: 400px;
                        height: 400px;
                        background-image: url(../aaa.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 100%;
                    }
                }
            }
        }

        /*Contendio mi_inform portafolio*/
        .Mi__Inform {
            width: 100%;
            height: auto;
            max-height: auto;
            background-color: $contenedor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .conatiner_skills {
                width: 100%;
                height: auto;
                // background-color: rgb(107, 61, 61);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 35px;
                    // background-color: rebeccapurple;
                }

                .grap_container {
                    width: 100%;
                    display: flex;
                    height: auto;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 30px;
                    gap: 30px;
                    // background-color: rebeccapurple;
                }

            }

            .container_aboutMe {
                width: 100%;
                height: auto;
                display: flex;

                .aboutMe {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $contenedor;

                    div {
                        // background-color: $body;
                        padding: 20px;
                        border-radius: 10px;
                        .Margin__S {
                            margin-bottom: 20px;
                        }

                        h3 {
                            color: rgb(255, 255, 255);
                            font-size: 50px;
                        }

                        p {
                            // font-weight: bold;
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                        }
                    }

                }

            }
        }
    }

    /*Contendio skills portafolio*/
    .PortafolioWorks {
        width: 100%;
        height: auto;
        background-color: $body;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 100px 0px 100px 0px;

        .PortafolioWorks__Tittle {
            font-size: 30px;
            margin: 40px;
        }

        .container_portafolioWorks {
            width: 100%;
            height: auto;
            // background-color: rebeccapurple;
            padding: 10px;
            display: flex;
            justify-content: center;

            .container_portafolioWorks_grap {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;
                // background-color: red;

                .__containerSkills {
                    width: 300px;
                    height: 430px;
                    background-color: $contenedor;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    h3 {
                        margin: 20px;
                    }

                    div {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        padding: 20px;

                        svg:nth-child(2) {
                            color: rgb(23, 224, 177);
                        }

                        svg {
                            color: white;
                            cursor: pointer;
                            overflow: hidden;

                            &:hover {
                                color: rgb(171, 233, 212);
                            }
                        }
                    }

                    .__containerSkillsWallpaper {
                        width: 100%;
                        height: 100%;
                        // background-color: rebeccapurple;
                        background-position: center;
                        border-radius: 10px 10px 0px 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .__containerSkillsWallpaper.local1,
                    .__containerSkillsWallpaper.local2,
                    .__containerSkillsWallpaper.local3,
                    .__containerSkillsWallpaper.local4 {
                        width: 100%;
                        height: 100%;
                        // background-color: rebeccapurple;
                        background-position: center;
                        border-radius: 10px 10px 0px 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .local1 {
                        background-image: url(../assets/img/AOS_Animate__JE.svg);
                    }

                    .local2 {
                        background-image: url(../assets/img/local2.PNG);
                    }

                    .local3 {
                        background-image: url(../assets/img/local3.PNG);
                    }

                    .local4 {
                        background-image: url(../assets/img/local4.PNG);
                    }


                }
            }

        }
    }


    /*Contendio portafolio*/
    .Portafolio {
        width: 100%;
        height: 100vh;
        max-height: 1000px;
        background-color: #192229;
        display: flex;
        justify-content: center;
        align-items: center;

        .clyppi {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-image: url(../assets/img/Planet__Poligonal.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            .information__container {
                width: 400px;
                height: 500px;
                // background-color: $body;
            }
        }
    }

    /*Contendio footer portafolio*/
    .container__footerMY {
        width: 100%;
        height: 20vh;
        max-height: 200px;
        // background-color: rgb(99, 107, 35);
        display: flex;
        justify-content: center;
        align-items: center;

        .footer_unik {
            width: 80%;
            height: auto;
            // background-color: rebeccapurple;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .svg_styles {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;

                svg {
                    color: white;
                }
            }

            h4 {
                font-size: 30px;
            }

            h3 {

                span {
                    color: aqua;
                }
            }
        }
    }
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {


    /* Tus estilos para pantallas de 1000px o menos */
    .main__container_masterTODO {

        .Container_Cubierta {

            .container_navbar {

                .navbar {

                    .bars {
                        display: flex;
                    }

                    .nav_seconds {
                        display: none;
                    }

                    .nav-bar {
                        z-index: 99;
                        width: 100%;
                        height: 0px;
                        position: absolute;
                        top: 60px;
                        left: 0;
                        right: 0;
                        background-color: #1e282f;
                        transition: 0.5s;
                        overflow: hidden;

                        &.active {
                            z-index: 99;

                            height: 450px;
                        }

                        ul {
                            display: block;
                            width: fit-content;
                            margin: 80px auto 0 auto;
                            text-align: center;
                            transition: 0.5s;

                            &.active {
                                opacity: 1;
                            }

                            a {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }

            .sobre_Mi {

                .div_principal {
                    width: 100%;
                    flex-direction: column-reverse;

                    .firt_container {
                        width: 100%;
                        // background-color: rebeccapurple;

                        .typewriter {

                            .paper {
                                font-size: 10px;
                            }
                        }
                    }

                    .second_container {
                        width: 80%;
                        // background-color: rebeccapurple;

                        h3 {
                            display: none;
                        }

                        .container_wallpaper {
                            width: 300px;
                            height: 300px;
                        }

                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }

            .container__footerMY {
                .footer_unik {
                    h4 {
                        font-size: 17px;
                    }
                }

                h3 {
                    font-size: 12px;
                }
            }
        }
    }
}